@model ForgotPassword
@{
    ViewBag.Title = "Login";
}

<h2 style="margin-left: 5%; margin-right: 5%; ">Forgot Password</h2>
 
<div style="margin-left: 5%; margin-right: 5%; " asp-validation-summary="ModelOnly" class="text-danger"></div>

<form style="margin-left: 5%; margin-right: 5%; " method="post" asp-action="ForgotPassword">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">UserName:</label>
        <div class="col-md-4">
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Username"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Email:</label>
        <div class="col-md-4">
            <input asp-for="Email"
                   class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Email"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">
            New Password:
        </label>
        <div class="col-md-4">
            <input type="password" asp-for="NewPassword"
                   class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="NewPassword"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">
            Confirm Password:
        </label>
        <div class="col-md-4">
            <input type="password" asp-for="ConfirmedPassword"
                   class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="ConfirmedPassword"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">
                Reset Password
            </button>
            <a asp-action="Login" asp-controller="Account"
               class="btn btn-primary">Cancel</a>
        </div>
    </div>
 </form>
