@model BookViewModel
@{
    ViewData["Title"] = "Tuxedo Books";
}
<div>
    <h3 class="text-center">Our Staff Pick!</h3>
    <h4 b-8u658nql35="" class="text-center p-2" style="background-color: #D1FFBD;">
        @{
            string Title = "To Kill a Mockingbird";

            <a asp-controller="Book" asp-action="StaffPick" asp-route-title="@Title">
                @Title
            </a>
        }
    </h4>
</div>